#btnLogo {
    cursor: pointer;
}

li {
    cursor: pointer;
}

li:hover,
li:focus {
    background: #a164ad;
}

.active {
    background: #a164ad;
}

.department-wrap {
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media (min-width: 768px) {
    .department-wrap {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.department-wrap .text .icon span {
    color: #9c27b0;
    font-size: 40px;
}

.department-wrap .text h3 {
    font-size: 24px;
}

.department-wrap .text h3 a {
    color: #000000;
}

.department-wrap:hover,
.department-wrap:focus {
    background: #9c27b0;
}

.department-wrap:hover .text,
.department-wrap:focus .text {
    color: rgba(255, 255, 255, 0.7);
}

.department-wrap:hover .text h3 a,
.department-wrap:focus .text h3 a {
    color: #fff;
}

.department-wrap:hover .icon span,
.department-wrap:focus .icon span {
    color: #fff;
}